<footer class="bg-success footer mt-auto">
    <div class="container py-1 text-light">
        <h3 class="d-inline">Connect</h3> 
        <div class="d-inline p-4" style="font-size: 1.5rem;">
            <a href="https://www.linkedin.com/in/mithlesh-upadhyay/" class="p-1" style="text-decoration: none; color: #FFF;"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/mithleshupadhyay" class="p-1" style="text-decoration: none; color: #FFF;"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/mithlesh515" class="p-1" style="text-decoration: none; color: #FFF;"><i class="fab fa-twitter"></i></a>
        </div>
        <hr style="height: 2px; background-color: #FFF;">
    </div>
    <div class="row m-0 p-0" style="color: #FFF;">
        <div class="col-md-4 p-0 p-md-1">
            <h5 class="mb-0">DTU, Rohini, Sector - 17, Delhi - 110042</h5>
            <h5 class="mb-0">Privacy Policy</h5>
        </div>
        <div class="col-md-4"></div>
        <div class="col-8 col-md-4">
            <h5 style="text-align: right;">
                <i class="fas fa-phone"></i> <span>+91 9311-30-4075</span>
            </h5>
        </div>
    </div>
    <div class="container py-1">
        <div class="text-center">
            <span class="text-light">&copy;2023 State Bank of Spark, All Rights Reserved</span>
        </div>
    </div>
    <div class="row m-0" style="color: #FFF;">
        <div class="col-sm-6 offset-sm-6">
            <span class="d-block" style="text-align: right;">Developed By &#64;Mithlesh Upadhyay</span>
        </div>
    </div>
</footer>
