<% layout('./layouts/layouts') %>
    <div class="container" style="font-family: 'Abel', sans-serif; background-color: #F2F2F2;">
        <div class="text-center" style="color: #003300;">
            <h1 class="display-4 text-center" style="color: #000;">State Bank of Spark</h1>
            <h2 class="mb-4">"Transfer of money between multiple users"</h2>
        </div>
        <div class="row mb-4">
            <div class="col-md-4 col-sm-6 p-4 bg-light">
                <h2><i class="fas fa-wallet" style="color: #FFD700;"></i></h2>
                <h2>Account Management</h2>
                <p class="text-muted">All the accounts are conveniently presented in a single location with utmost clarity.</p>
            </div>
            <div class="col-md-4 col-sm-6 p-4 bg-light">
                <h2><i class="fas fa-hand-holding-usd" style="color: #6495ED;"></i></h2>
                <h2>Savings Management</h2>
                <p class="text-muted">Saving money becomes a less daunting endeavor when the results are so neat!</p>
            </div>
            <div class="col-md-4 col-sm-8 offset-sm-2 offset-md-0 p-4 bg-light">
                <h2><i class="far fa-credit-card" style="color: #87CEEB;"></i></h2>
                <h2>Card Management</h2>
                <p class="text-muted">With this attractive and practical interface, users will never again misplace their card balance, ensuring they can easily stay on top of their finances.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 p-4 bg-light">
                <h2><i class="fas fa-file-invoice-dollar" style="color: #FFA07A;"></i></h2>
                <h2>Contracts</h2>
                <p class="text-muted">The panel provided collects all the contracts signed by the user with the bank, consolidating them in one place.</p>
            </div>
            <div class="col-md-4 col-sm-6 p-4 bg-light">
                <h2><i class="fas fa-handshake" style="color: #FF6347;"></i></h2>
                <h2>Loans</h2>
                <p class="text-muted">With the help of this panel, users can easily monitor their existing loans and apply for new loans faster.</p>
            </div>
            <div class="col-md-4 col-sm-8 offset-sm-2 offset-md-0 p-4 bg-light">
                <h2><i class="fas fa-chart-line" style="color: #7B68EE;"></i></h2>
                <h2>Investment Management</h2>
                <p class="text-muted">If the bank offers an investment program to its customers, users gain access to real-time performance data, enabling them to make informed decisions based on the most up-to-date information available.</p>
            </div>
        </div>
    </div>
